/*
filename: CSS1
author: Daniel Roisman
created: 19/3/2021
last modified: 19/3/2021
description:lab04.html*/

aside:hover {display: inline - block;}
aside { border: 4px inset purple;
border-radius: 14px;
margin: 1em;
padding:1em;
background: url("image/fade.jpg")repeat-x top left;
float: right;
box-shadow: 10px 10px 5px #aaaaaa;
}
header { border: 1px solid darkgray;
border-radius: 14px;
margin: 0.5em;
padding:1em;
background: lightgray;
text-align: center
}
footer { 
color:white;
border-top: 4px double darlgray;clear:both;
border-radius: 14px;
margin: 0.5em;
padding:1em;
background: blue;
text-align: center
}
table {margin: auto;}
column {margin: auto; float: right;}
#lists { float: left;}
#tables {margin: auto;float: right;}
#hyperlinks {clear:left;float: left;}
#images {  float: right;}
figure{border: 2px solid #ccc}
#lists, #images, #tables,#hyperlinks { width:50%;text-align:center;}

ol,ul,dl{ list-style:none;text-aligh: left;}
article { min-width:30em}
footer p{display: inline-block;width:33%}
footer p: first-child {float: left;}
footer p: nth-child {text-align: center;}
footer p: last-child {float: right;text-align: right;}