/*
filename: CSS1
author: Daniel Roisman
created: 19/3/2021
last modified: 24/3/2021
description:media query for display: over 500*/

@media screen and (min-width:31.25em)
{
  nav ul li{ width :33%;}
  #section1{ width: 43%;}
  #section2{ width: 43%;}
  #section3{
    clear: both;
    float: none;
     width: 90%;
    margin:0 1em 1em 1.5em;
  }
  #section3 img{
        float: left;
        width: 30%;
        margin:0.5em 1em 1em 0;
  }
  article{mib-width:600px;}
}
