/*
filename: CSS1
author: Daniel Roisman
created: 19/3/2021
last modified: 24/3/2021
description:media query for display: over 500*/

@media screen and (min-width:31.25em)
{
  nav ul li{ width :20%;}
  #section1{ width: 43%;}
  #section2{ width: 43%;}
  #section3{
    clear: both;
    float: none;
     width: 90%;
    margin:0 1em 1em 1.5em;
  }
  #section3 img{
        float: left;
        width: 30%;
        margin:0.5em 1em 1em 0;
  }
  article{mib-width:600px;}
  header h1 { font-size:48px; padding:0; text-align: center;}
  #section1, #section2, #section3{ 
    margin:0;
    float:none;
    width: 20%;
  }
  img { 
  display: block;
  margin:0 auto;}
  article{ min-width 20%}
}

